@charset "utf-8";
.dots-content {
    background-image: radial-gradient(#dbf3f9 35%, transparent 13%);
    background-size: 450px 450px;
    min-height: 100%;
    width: 100vw;
    height: 100%;
    animation: ani 80s linear infinite;
}


@keyframes ani {
	0% { background-position: 0% 0%; }
	100% { background-position: 350% 100%; }
}


/* ============================================== */
/* ============================================== */



.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}


.big-about {
    text-align: left;
    padding-top: 150px;
    margin-bottom: 50px;
    width: 250px;
    height: auto;
}

.small-about{
    display: none;
}

.section-title-small{
    text-align: center;
}

.section-title-small .profile{
    width: 15%;
    padding-top: 50px;
}

.section-title-small p{
    padding-bottom: 50px;
}

.section-title-small-sp{
    display: none;
}
/* プロフィールセクション */
.profile-section {
    margin-bottom: 80px;
    position: relative;
}

.profile-content {
    display: flex;
    gap: 110px;
}

.profile-image-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    top: 10px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-right {
    padding-top: 20px;
}

.profile-right h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-right p {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.7;
}

.profile-value p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.7;
}

.name{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.text{
    margin-bottom: 15px;
    padding-top: 30px;
}

/* すきなこと・もの */
.favorite-section {
    margin-bottom: 80px;
    position: relative;
}

.favorite-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    position: relative;
}

.icon-item {
    text-align: center;
    position: relative;
}


.icon-item .icon-circle {
    transition: 0.3s;
}
.icon-item:hover .icon-circle {
    transform: translateY(-20px);
}


.icon-circle {
    width: 150px;
    height: 150px;
    border: 3px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}

.icon-circle img {
    width: 60%;
    height: 60%;
}

.plus{
    display:block;
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 51px;
}

.plus::before{
    content: ""; /* 要素として認識させるコード */
    width: 13px;
    height: 2px;
    bottom: 12px;
    left: 6px;
    background-color: #fff;
    position: absolute;
}

.plus::after{
    content: ""; /* 要素として認識させるコード */
    width: 13px;
    height: 2px;
    bottom: 12px;
    left: 6px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-90deg);
}
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.content{
    background: #fff;
    border:#000 solid 3px;
    border-radius: 30px;
    padding: 30px;
    width: 340px;
    height: 410px;
    margin: 20% auto;
}

.close {
    background-color: #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 122px;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-close{
    width: 13px;
    height: 2px;
    bottom: 10px;
    left: 4px;
    background-color: #fff;
    position: absolute;
}

.popup-title{
    padding-top: 10px;
    padding-bottom: 15px;
}

.popup-topic{
    font-size: 25px;
    padding-bottom: 40px;
}

.popup-description{
    max-width: 500px;
    margin:0  auto;
}

.popup-image{
    width: 150px;
    height: auto;
    margin-left: 30px;
    margin-top: 15px;
}

/* スキルセクション */
.skills-section {
    padding-bottom: 100px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.skill-category {
    text-align: center;
}

.skils-list-title-design{
    width: 75px;
    padding-bottom: 20px;
}

.skils-list-title-coding {
    width: 75px;
    padding-bottom: 20px;
}

.skils-list-title-comnication{
    width: 160px;
    padding-bottom: 20px;
}

.skill-category ul {
    line-height: 2;
}

.skill-category li {
    font-size: 20px;
    padding-bottom: 15px;
}

/* レコメンド */

@media screen and (max-width: 768px) {
.dots-content {
    background-image: radial-gradient(#dbf3f9 25%, transparent 13%);
    background-size: 200px 200px;
    min-height: 100%;
    width: 100vw;
    height: 100%;
    animation: ani 80s linear infinite;
}


.big-about {
    display: none;
}

.small-about{
    display: block;
    padding-top: 150px;
    width: 110px;
    height: auto;
    margin: 0 auto;
}

.profile-image-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    top: 10px;
    margin: 0 auto;
}

.section-title-small-sp{
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

.section-title-small-sp .profile{
    width: 15%;
    padding-top: 60px;
    padding-bottom: 5px;
}


.profile-content {
    display: block;
}

.section-title-small{
    display: none;
}

.name{
    padding-bottom: 20px;
    text-align: center;
    display: block;
}

.name h3{
    font-size: 30px;
}

.name p{
    font-size: 14px;
    padding-left: 10px;
}

.profile-right p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.7;
}

.profile-sp{
    width: 25%;
    height: auto;
    padding-bottom: 5px;
}

.profile-right {
    padding-top: 20px;
    max-width: 310px;
    margin: 0 auto;
}

.favorite-icons{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 600px;
    gap: 36px;
    padding: 0px;
}

.icon-item {
    width: 34%;
    height: 100%;
    aspect-ratio: 1 / 1;/* 正方形を維持したまま縮小 */
}

.icon-circle {
    width: 110px;
    height: 110px;
    border: 3px solid #333;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
}

.plus{
    display: block;
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 40px;
}
.plus::before {
    content: "";
    width: 13px;
    height: 2px;
    bottom: 10px;
    left: 4px;
    background-color: #fff;
    position: absolute;
}
.plus::after {
    content: "";
    width: 13px;
    height: 2px;
    bottom: 9px;
    left: 4px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-90deg);
}
.close {
    background-color: #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    background: #fff;
    border: #000 solid 3px;
    border-radius: 30px;
    padding: 30px;
    width: 245px;
    height: 370px;
    margin: 20% auto;
}
.popup-image {
    width: 100px;
    height: auto;
    margin-left: 5px;
    margin-top: 15px;
}

.skills-section .profile-sp {
    width: 17%;
    height: auto;
    padding-bottom: 5px;
}

.skills-list {
    display: block;
    padding-bottom: 20px;
}

.skill-category {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
}

.skils-list-title-design{
    width: 15%;
}

.skils-list-title-coding {
    width: 15%;
}

.skils-list-title-comnication{
    width: 30%;
}

.skill-category ul {
    flex-grow: 1;
    text-align: left;
    padding-left: 30%;
}

.skill-category .communication-ul{
    padding-left: 15%;
}

.skill-category .skill-category li {
    font-size: 16px;
}

.dot-skill {
    display: none;
}


}



