@charset "utf-8";
.works-all {
    display: flex;
    justify-content: center;
    padding: 80px 25px;
    background-color: #a9c4c8;
}

/* 青い枠 */
.works-inner {
    display: flex;
    width: 100%;
    height: 650px;
    padding: 5% 7%;
    background-color: white;
    border-radius: 40px;
    position: relative;
}

/* 左側固定エリア */
.works-left {
    width: 25%;
    padding-right: 20px;
}

/* SP版　横から出てくる */
.sp-drawer{
    display: none;
}


/* WORKSタイトル画像 */
.works-title-pc {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}
.works-title-sp {
    display: none;
}

/* カテゴリボタン */
.category-button {
    display: block;
    width: 100%;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}
.category-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category-button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* 右側スクロールエリア */
.works-right {
    width: 75%;
    padding-left: 110px;
    overflow-y: auto;
}

section {
    margin-bottom: 10%;
}

/* セクションタイトル */
.website-title, .lp-title, .banner-title, .illust-title {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 3%;
    padding-top: 10%;
}

/* 作品グリッド */
#website, #lp, #banner, #illust,#gif,#flyer {
    display: grid;
    gap: 20px;
    max-width: 700px;
}


.work-image {
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
    display: block;
}
.space {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}

.space-flex{
    display: flex;
    gap: 15%;
    flex-wrap: wrap;
    max-width: 700px;
}

.space-back {
    border: 1px solid #3c3c3c;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #56210087 23px, transparent 23px);
    background-position: -25px -15px;
    background-size: 80px 83px;
}
.space-back2 {
    border: 1px solid #3c3c3c;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 4 / 3;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;

}


/* 作品の説明 */
.description {
    font-size:16px;
    padding-top: 5px;
}

@media screen and (max-width: 768px) {
/* 横から出てくる部分 */
.sp-drawer{
    display:block;
}

.works-right-push {
    position: fixed; /* 画面に固定 */
    top: 25%;
    right: 0;
    width: 42px;
    height: 180px;
    padding: 10px 5px;
    background-color: #000;
    cursor: pointer;
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px 0 0 22px;
}

.works-right-push p {
    writing-mode: vertical-rl; /* 縦書き */
    letter-spacing: 1.6px;
    color: #fff;
    padding-top: 34px;
    font-size: 14px;
}

.works-right-closeicon span {
    display: block;
    width: 13px;
    margin-top: 26px;
    border: solid 1px #fff;
}

.works-right-push-menu {
    position: fixed;
    top: 25%;
    right: 0;
    width: 30%;
    height: 255px;
    background-color: #FFF;
    border: 3px #000 solid;
    color: #000;
    z-index: 997;
    padding: 10px 10px 20px;
    transition: transform 0.4s ease-out;
    border-radius: 22px 0 0 22px;
    transform: translateX(100%);
}

/* translateX(0)で元の位置に戻し、画面内に表示する */
.works-right-push-menu.is-open {
    transform: translateX(0); /* スライドインして表示 */
}

.works-menu-list li {
    padding: 10px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.works-menu-list li:first-child {
    border-top: 0px ;
}

.works-menu-list a {
    color: #000;
    font-size: 16px;
    display: block;
}

/* ---左側のボタン部分------------------------ */

.button-all{
    display: none;
}

.works-title-pc {
    display: none;
}
.works-title-sp {
    display: block;
    width: 65%;
    height: auto;
}

.works-inner {
    display: grid;
}
.works-right {
    width: 100%;
    padding-left: 0;
}

.works-left{
    margin: 0 auto;
    padding-right: 0;
}

.website-title, .lp-title, .banner-title, .illust-title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 3%;
    padding-top: 0;
}

.space-back {
    border: 1px solid #3c3c3c;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    background-color: #fff;
    background-image: radial-gradient(circle, #56210087 8.5px, transparent 8.5px);
    background-position: -15px -8px;
    background-size: 51px 40px;
}

.space-back2 {
    border: 1px solid #3c3c3c;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

/* 右側 */
.space-flex{
    display: flex;
    gap: 15%;
    flex-wrap: wrap;
    max-width: 700px;
}
.description {
    font-size:15px;
}

}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* worksの詳細ページ */

.works-right_image {
    width: 75%;
    padding-left: 50px;
    padding-top: 3%;
    overflow-y: auto;
}

.text-inner{
    padding-top: 50px;
}

.works-description{
    display: flex;
    padding: 20px 0;
    border-bottom: solid 1px #3c3c3c;
}

.label{
    padding-left: 40px;
    padding-right: 100px;
}
.point-text{
    padding: 20px 30px 40px 40px;
    line-height: 1.8;
}

.ps{
    font-weight: bolder;
    font-size: 13px;
}

.p-point-text{
    margin: 10px 0px;
    line-height: 1.5;
}

.point-text-weight{
    font-weight: bold;
}

.image-banner{
    margin: 0 auto;
    width: 40%;
}
.image-full{
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.image-sizedown{
    width: 70%;
    height: auto;

}

.image-full-block{
    display: block;
    text-align: center;
}

.image-full-block img{
    padding-bottom: 10px;
    width: 50%;
}

.image-full img{
    width: 50%;
    height: 50%;
}
p{
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {

.works-right_image {
    width: 100%;
    padding-left: 0px;
    padding-top: 3%;
    overflow-y: auto;
}

.label {
    padding-left: 40px;
    padding-right: 20%;
}

}