@charset "utf-8";
/* ヘッダー部分 */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 7.6%;
    padding-left: 2.9%; */
    position: absolute;
    width: 100%;
    z-index: 9999;/* 最大値 */
}

.header_nav ul {
    display: flex;
    gap : 75px;
}

.header_nav a {
    color: #000;
    font-size : 18px;
}

.logo{
    width : 230px;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 9999;
}

.hamburger,
.header_nav-sp{
    display: none;
}

/* slick */
.slick-dots {
    bottom: 0px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li button:before {
    color: #fff;
}

/* SP Ver */
@media screen and (max-width: 1100px) {
.header_nav{
        display: none;
}
.hamburger{
    display: block;
    width: 100px;
    height:70px;
    background-color: #000;
    border-radius: 25px;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 9999;/* 最大値 */
    cursor: pointer;
}

.hamburger span {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 25px;
    transition: 0.3s;
}

 /* 擬似要素 */
.hamburger span::before{
     content: ""; /* 要素として認識させるコード */
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: -14px;
    transition: 0.3s;
}
.hamburger span::after{
    content: ""; /* 要素として認識させるコード */
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -14px;
    transition: 0.3s;
}

.open span{
    background-color: transparent;
}

.open span::before{
    transform: rotate(45deg);
    top:0; /*元々同じ位置にあったものをさっきずらしたのを戻した */
}

.open span::after{
    transform: rotate(-45deg);
    bottom:0;
}
.header_nav-sp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #c3c3c3;
    z-index: 9998;
}

.header_nav-sp ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
}

/* ---------------------------------------------------- */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title-large{
    text-align: left;
    padding-top: 100px;
    margin-bottom: 50px;
}

.section-title-large img {
    width: 250px;
    height: auto;
}

.section-title-small{
    text-align: center;
}

.section-title-small .profile{
    width: 15%;
    padding-top: 50px;
}

.section-title-small p{
    padding-bottom: 50px;
}

/* プロフィールセクション */
.profile-section {
    margin-bottom: 80px;
    position: relative;
}

.profile-content {
    display: flex;
    gap: 110px;
}

.profile-image-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-right {
    padding-top: 20px;
}

.profile-right h3 {
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-right p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
}

/* お気に入りセクション */
.favorite-section {
    margin-bottom: 80px;
    position: relative;
}

.favorite-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    position: relative;
}

.icon-item {
    text-align: center;
    position: relative;
}

.icon-circle {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.icon-circle img {
    width: 60%;
    height: 60%;
}

/* スキルセクション */
.skills-section {
    margin-bottom: 100px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.skill-category {
    text-align: center;
}

.skils-list-title {
    width: 50%;
    height: auto;
}

.skill-category ul {
    line-height: 2;
}

.skill-category li {
    font-size: 20px;
}

/* フッター */
.footer_sp_content,
.footer_logo_sp,
.footer_contact_sp,
.footer_nav_sp,
.copy_sp {
    display: none;
}

footer {
    border-top: 7px solid #000;
    position: relative;
    background-color:#7b6c5f;
    overflow: hidden;
}
.footer-dots {
    position: absolute;
    top: -5%;
    right: 0;
    left: auto; /* 左からの指定を解除 */
    width: 60%; /* サイズを調整 */
    height: 60px;
    object-fit: cover;
    z-index: 2;
}
.footer_inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 3; /* 装飾より手前に */
    display: flex;
    justify-content: space-between; /* 左右のコンテンツを離す */
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 20px;
}
.footer_left_content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5%;
    padding-bottom: 20px;
}

.footer_address li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.2;
    display: block;
    letter-spacing: 0.1em;
}
/* 著作権 */
.copy {
    color: #000;
    font-size: 14px;
    margin-top: 30px;
}
/* PAGE TOP */
.pagetop_in_footer {
    position: absolute; /* .footer_innerを基準に配置 */
    top: 50px;
    right: 50px;
    width: 130px; /* サイズを調整 */
    height: 130px;
}

.pagetop_in_footer a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/* PAGE TOPの枠画像 (top_scroll.png) */
.pagetop-frame {
    position: absolute;
    top: 35%;
    left: 60%;
    width: 50%;
    height: 50%;
    object-fit: contain;
}
/* 観葉植物のイラスト (wood.PNG) */
.pagetop-wood {
    position: absolute;
    top: 45%;
    left: 70%;
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.footer_logo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer_logo img{
    width: 85%;
}

@media screen and (max-width: 768px) {

.footer-dots,
.footer_inner,
.pagetop_footer,
.footer_logo{
    display: none ;
}

footer {
    background-color: #7b6c5f;
    padding: 10px 0px;
    text-align: center;
    display: block;
    position: relative; /* z-indexの基準 */
}

.footer_sp_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.footer_logo_sp {
    display: block;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.footer_logo_sp img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.footer_contact_sp {
    display: block;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}
.footer_contact_sp img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.footer_nav_sp {
    display: block;
    width: 100%;
}
.footer_nav_sp ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.footer_nav_sp li {
    display: block;
    width: 100%;
}


.footer_nav_sp a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}

.footer_nav_sp a:hover
    {
        background-color: #e0e0e0;
        color: #333;
    }

    .copy_sp {
        display: block;
        font-size: 12px;
        color: #ccc;
        margin-top: 40px;
    }
}
