@charset "utf-8";
.dots{
  background-color: #ffffff;
  background-image: radial-gradient(circle, #CCC 50px, transparent 50px), radial-gradient(circle, #CCC 50px, transparent 50px);
  background-position: 0 0, 200px 200px;
  background-size: 400px 400px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title-large{
    text-align: left;
    padding-top: 150px;
    margin-bottom: 50px;
}

.section-title-large img {
    width: 250px;
    height: auto;
}

.section-title-small{
    text-align: center;
}

.section-title-small .profile{
    width: 15%;
    padding-top: 50px;
}

.section-title-small p{
    padding-bottom: 50px;
}

/* プロフィールセクション */
.profile-section {
    margin-bottom: 80px;
    position: relative;
}

.profile-content {
    display: flex;
    gap: 110px;
}

.profile-image-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    top: 10px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-right {
    padding-top: 20px;
}

.profile-right h3 {
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-right p {
    margin-top: 5px;
    font-size: 20px;
    line-height: 1.7;
}

.name{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

/* すきなこと・もの */
.favorite-section {
    margin-bottom: 80px;
    position: relative;
}

.favorite-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
    position: relative;
}

.icon-item {
    text-align: center;
    position: relative;
}

.icon-item:hover {
    padding-top: 30px;
    transition: transform 0.2s, opacity 0.2s;

    /* ？？？？上に上げたい？？？？ */
}

.icon-circle {
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* position: relative;
    z-index: 2; */
}

.icon-circle img {
    width: 60%;
    height: 60%;
}

.plus{
    display:block;
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 115px;
}

.plus::before{
    content: ""; /* 要素として認識させるコード */
    width: 13px;
    height: 2px;
    bottom: 12px;
    left: 6px;
    background-color: #fff;
    position: absolute;
}

.plus::after{
    content: ""; /* 要素として認識させるコード */
    width: 13px;
    height: 2px;
    bottom: 12px;
    left: 6px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-90deg);
}
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.content{
    background: #fff;
    border:#000 solid 3px;
    border-radius: 30px;
    padding: 30px;
    width: 340px;
    height: 410px;
    margin: 20% auto;
}

.close{
    background-color: #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    left: 512px;
    top: 570px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-close{
    width: 13px;
    height: 2px;
    bottom: 10px;
    left: 4px;
    background-color: #fff;
    position: absolute;
}

.popup-title{
    padding-top: 10px;
    padding-bottom: 15px;
}

.popup-topic{
    font-size: 25px;
    padding-bottom: 40px;
}

.popup-description{
    max-width: 500px;
    margin:0  auto;
}

.popup-image{
    width: 150px;
    height: auto;
    margin-left: 30px;
    margin-top: 15px;
}

/* スキルセクション */
.skills-section {
    padding-bottom: 100px;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.skill-category {
    text-align: center;
}

.skils-list-title {
    width: 50%;
    height: auto;
    padding-bottom: 30px;
}
.skils-list-title-coding{
    width: 45%;
    height: auto;
    padding-bottom: 30px;
}

.skill-category ul {
    line-height: 2;
}

.skill-category li {
    font-size: 20px;
}
@media screen and (max-width: 768px) {
}
