@charset "utf-8";
body {
    font-family: "Zen Kaku Gothic New","Noto Sans JP", sans-serif;
    color: #000;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}
/* メインコンテンツの全体設定 */
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 50px 20px; /* ヘッダーと被らないよう上部に十分な余白 */
    position: relative;
    z-index: 2;
}

.concept-section {
    padding-top: 40px;
}

.concept-h1-pc {
    width: 40%;
    padding-bottom: 50px;
}

.concept-h1-sp {
    display: none;
}
.heading_h2 {
    margin: 50px;
}

.heading_h2 .concept-h2 {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.concept-catchphrase_PC {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.concept-catchphrase_SP {
    display: none;
}
.concept-text {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
    font-size: 14px;
}

.creation-process {
    padding-top: 100px;
}

.process-title {
    margin-left: 10%;
    padding-bottom: 50px;
    display: table; /* 中央寄せと幅の自動調整のためにtableを使用 */
}

.process-list {
    /* position: relative; */
    max-width: 900px;
    margin: 0 auto;
}

.process-item {
    padding-bottom: 50px;
    /* ？？？？分ける必要ある？？ */
    position: relative;
}

/* プロセス部分 */
.step-label-container {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: #000 solid 2px;
    margin-bottom: 20px;
    max-width: 740px;
}

.step-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.step-label {
    font-weight: 700;
    padding-left: 10px; /* 番号との間隔 */
}

.step-content {
    display: flex;
}

/* 画像とテキスト */
.image-back {
    width: 285px;
    height: 285px;
    background-color: #ffff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.step-content p {
    margin: 0 auto;
    width: calc(100% - 430px);
  /* 親要素の全幅 (100%) から430ピクセルを差し引いた値 */
    line-height: 2.2;
}

/* 右側の矢印部分 */
.timeline-text {
    position: absolute;
    writing-mode: vertical-lr;
    right: 0;
    bottom: 20%;
}
.timeline-arrow {
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #000;
    right: 22px;
    top: 50px;
}
.timeline-arrow::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    bottom: 5px;
    left: -15px;
}
.timeline-arrow::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    bottom: 5px;
    right: -15px;
}

.timeline-arrow-long {
    position: absolute;
    width: 2px;
    height: 390%;
    background-color: #000;
    right: 22px;
    top: 50px;
}
.timeline-arrow-long::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    bottom: 5px;
    left: -15px;
}
.timeline-arrow-long::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    bottom: 5px;
    right: -15px;
}
@media screen and (max-width: 768px) {
}
