@charset "utf-8";
html{
    scroll-behavior: smooth;
}

.footer_sp_content,
.footer_logo_sp,
.footer_contact_sp,
.footer_nav_sp,
.copy_sp {
    display: none;
}

footer {
    border-top: 7px solid #000;
    position: relative;
    background-color:#7b6c5f;
    overflow: hidden;
}
.footer-dot{
    position: relative;
    bottom: 20px;
}

.footer-dots {
    position: absolute;
    right: 0;
    width: 60%; /* サイズを調整 */
    height: 60px;
    object-fit: cover;
    z-index: 2;
}
.footer_inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 3; /* 装飾より手前に */
    display: flex;
    justify-content: space-between; /* 左右のコンテンツを離す */
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 20px;
}
.footer_left_content {
    padding-top: 50px;
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    padding-left: 5%;
    padding-bottom: 20px;
}

.footer_address li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.2;
    display: block;
    letter-spacing: 0.1em;
}
/* ボタン */
.footer_contact {
    display: block;
    width: 100%;
    padding-top: 20%;
    padding-left: 10%;

}


/* 著作権 */
.copy {
    color: #000;
    font-size: 14px;
    padding-left: 7%;
    padding-bottom: 5%;
}
/* PAGE TOP */
.pagetop_in_footer {
    position: absolute; /* .footer_innerを基準に配置 */
    top: 50px;
    right: 50px;
    width: 130px; /* サイズを調整 */
    height: 130px;
}

.pagetop_in_footer a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/* 画像を回す */
/* 回転アニメーションの定義 */
@keyframes rotateAnimation {
    from {
    transform: rotate(0deg);
}
    to {
    transform: rotate(360deg);
}
}

/* PAGE TOPの枠画像 (top_scroll.png) */
.pagetop-frame {
    position: absolute;
    top: 35%;
    left: 60%;
    width: 50%;
    height: 50%;
    object-fit: contain;
    animation: rotateAnimation 15s linear infinite;
}
/* 観葉植物のイラスト (wood.PNG) */
.pagetop-wood {
    position: absolute;
    top: 45%;
    left: 70%;
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.footer_logo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.footer_logo img{
    width: 85%;
}




@media screen and (max-width: 768px) {

.footer-dots,
.footer_inner,
.pagetop_footer,
.footer_logo,
.copy,
.footer_contact{
    display: none ;
}

footer {
    background-color: #7b6c5f;
    padding: 10px 0px;
    text-align: center;
    display: block;
    position: relative; /* z-indexの基準 */
}

.footer_sp_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.footer_logo_sp {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}

.footer_logo_sp img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.footer_contact_sp {
    display: block;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}
.footer_contact_sp img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
}


.footer_nav_sp {
    display: block;
    width: 100%;
}
.footer_nav_sp ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.footer_nav_sp li {
    display: block;
    width: 100%;
}


.footer_nav_sp a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}

.footer_nav_sp a:hover
    {
        background-color: #e0e0e0;
        color: #333;
    }

    .copy_sp {
        display: block;
        font-size: 12px;
        color: #000;
        margin-top: 40px;
    }
}
