/* ヘッダー部分 */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 7.6%;
    padding-left: 2.9%; */
    position: absolute;
    width: 100%;
    z-index: 9999;/* 最大値 */
}

.header_nav ul {
    display: flex;
    gap : 75px;
}

.header_nav a {
    color: #000;
    font-size : 18px;
}

.logo{
    width : 230px;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 9999;
}

.hamburger,
.header_nav-sp{
    display: none;
}

/* slick */
.slick-dots {
    bottom: 0px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li button:before {
    color: #fff;
}

/* SP Ver */
@media screen and (max-width: 1100px) {
.header_nav{
        display: none;
}
.hamburger{
    display: block;
    width: 100px;
    height:70px;
    background-color: #000;
    border-radius: 25px;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 9999;/* 最大値 */
    cursor: pointer;
}

.hamburger span {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: 25px;
    transition: 0.3s;
}

 /* 擬似要素 */
.hamburger span::before{
     content: ""; /* 要素として認識させるコード */
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: -14px;
    transition: 0.3s;
}
.hamburger span::after{
    content: ""; /* 要素として認識させるコード */
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -14px;
    transition: 0.3s;
}

.open span{
    background-color: transparent;
}

.open span::before{
    transform: rotate(45deg);
    top:0; /*元々同じ位置にあったものをさっきずらしたのを戻した */
}

.open span::after{
    transform: rotate(-45deg);
    bottom:0;
}
.header_nav-sp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #c3c3c3;
    z-index: 9998;
}

.header_nav-sp ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
}
/* --------------------------- */
/* メイン */
.works-all {
    display: flex;
    justify-content: center;
    padding: 80px 45px;
    background-color: #a9c4c8;
}

/* 青い枠 */
.works-inner {
    display: flex;
    width: 100%;
    padding: 30px 50px;
    background-color: white;
    border-radius: 40px;
    position: relative;
}

/* 左側固定エリア */
.works-left {
    width: 25%;
    padding-right: 20px;
}

/* WORKSタイトル画像 */
.works-title {
    margin-bottom: 30px;
}
.works-title img {
    max-width: 100%;
    height: auto;
}

/* カテゴリボタン */
.category-button {
    display: block;
    width: 100%;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}
.category-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category-button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* 右側スクロールエリア */
.works-right {
    flex-grow: 1;
    width: 75%;
    padding-left: 50px;
    padding-top: 10%;
    overflow-y: auto;
}