@charset "utf-8";
/* ヘッダー部分 */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 9999;/* 最大値 */
}

.header_nav ul {
    display: flex;
    gap : 75px;
    padding-right: 30px;
}

.header_nav a {
    color: #000;
    font-size : 18px;
}

.logo{
    width : 230px;
    height: auto;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 9999;
}

.hamburger,
.header_nav-sp,
.hamburger-sp_illust{
    display: none;
}

/* slick */
.slick-dots {
    bottom: 0px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li button:before {
    color: #fff;
}
.hameru-txt{
    margin: 5px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    z-index: 4;
}
@media screen and (max-width: 1000px) {
.header_nav ul{
    display: flex;
    gap: 35px;
    padding-right: 30px;
    }

    .logo {
    width: 200px;
    height: auto;
    padding-top: 10px;
    padding-left: 40px;
    z-index: 9999;
}

}

/* SP Ver */
@media screen and (max-width: 768px) {
.header_nav {
    display: none;
}
.hamburger{
    display: block;
    width: 50px;
    height:36px;
    background-color: #000;
    border-radius: 10px;
    position: fixed;
    top: 19px;
    right: 10px;
    z-index: 9999;/* 最大値 */
    cursor: pointer;
}

.hamburger span {
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 16px;
    left: 13px;
    transition: 0.3s;
}

 /* 擬似要素 */
.hamburger span::before{
    content: ""; /* 要素として認識させるコード */
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    transition: 0.3s;
}
.hamburger span::after{
    content: ""; /* 要素として認識させるコード */
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    transition: 0.3s;
}

.open span{
    background-color: transparent;
}

.open span::before{
    transform: rotate(45deg);
    top:0; /*元々同じ位置にあったものをさっきずらしたのを戻した */
}

.open span::after{
    transform: rotate(-45deg);
    bottom:0;
}
.header_nav-sp{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #c3c3c3;
    z-index: 9998;
}

.contact-sp-header{
    padding-top: 300px;
}
.hamburger-sp_text{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 200px;
}
.hamburger-sp_illust{
    width: 60%;
    height: auto;
    position: absolute;
    z-index: 9998;
    display: flex;
    justify-content: center;
    background-color: #c3c3c3;
    top: 50%;
    left: 20%;
    border-top: #000 solid 3px;
    padding-top: 45px;
}

.logo{
    width : 170px;
    height: auto;
    padding-top: 20px;
    padding-left: 25px;
    z-index: 9999;
}

.hameru-txt{
display: none;
}
}

/* ローディング */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(226, 227, 228, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.loading-txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 999;
}

.loading-text{
    padding-bottom: 10px;
    font-size: 20px;
}

#progress-text{
    font-size: 40px;
    padding-bottom: 30px;
}

.progress-container {
    width: 300px;
    height: 5px;
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    z-index: 998;
    top: 55%;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #E2E3E4FA,#eba1a1);
    transition: width 0.3s ease;
}

.progress-dot {
    position: absolute;
    height: 35px;
    background: #e71919;
    border-radius: 50%;
    top: 0px;
    left: 0%; /* 初期位置 */
    z-index: 999;
}

#showloading img{
    width: 25%;
    height: auto;
    margin: auto;
    left: 35%;
    position: absolute;
    z-index: 998;
    top: 50%;
}
